{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        {% if movie.category == "Movie" %}
          <li class="breadcrumb-item"><a href="/movies">{{movie.category}}</a></li>
        {% elif movie.category == "TV Show" %}
          <li class="breadcrumb-item"><a href="/tv-shows">{{movie.category}}</a></li>
        {% else %}
          <li class="breadcrumb-item"><a href="/short-films">{{movie.category}}</a></li>
        {% endif %}
        <li class="breadcrumb-item active">{{movie.title}}</li>
      </ol>
    </div>
    <div class="card">
            <div class="card-body p-5">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-xl-4 text-center">
                    <img src="/media/{{movie.thumbnail}}" class="rounded shadow" alt="">
                </div>
                <div class="col-lg-7 col-xl-7 col-md-7 p-3">
                    <h2 class="fs-2 fw-bolder"> {{movie.title}} </h2>
                    <span class="">{{movie.description}}</span><br>
                    <span class="fw-bolder">Released: </span>{{movie.released}} <br>
                    <span class="fw-bold">Genre:</span>{% for mg in movie.genre.all %}
                        <span><a href="/genre/{{mg.slug}}">{{mg.title}}</a></span>,
                    {% endfor %}<br>
                    <span class="fw-bold">Production:</span>{% for p in movie.production.all %}
                      <a href="/production/{{p.slug}}"><span>{{p.title}}</span></a>,
                    {% endfor %}
                    <!--Streaming Platforms Start-->
                    <div class="row mt-3">
                      {% for s in movie.platform.all %}
                      <div class=" col-md-6 col-lg-4 col-xl-5">
                        <a href="/stream/{{s.slug}}">
                          <div class="card">
                            <div class="card-body align-items-center mt-3">
                              <div class="row">
                                <div class="col-4 my-auto">
                                  <img src="/media/{{s.thumbnail}}" class="w-100 center-block rounded-circle">
                                </div>
                                <div class="col-8">
                                  <span class="fw-bold">{{s.title}}</span><br>
                                  <span> Play Now </span>
                                </div>
                              </div>
                            </div>
                        </div>
                        </a>
                      </div>
                      {% endfor %}
                    </div>
                    <!-- Streaming Platfroms End-->
                </div>
              </div>
            </div>
          </div>
{% endblock content %}

